name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{ cron: "0 * * * *" }]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: { branches: ["master", "main"] }
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: ninadvyas
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Calcutta

          # Recent Activity
          plugin_activity: yes
          plugin_activity_limit: 3
          plugin_activity_days: 14
          plugin_activity_filter: issue, pr, release, fork, review, ref/create, comment, public
          plugin_activity_visibility: public

          # YouTube Music
          plugin_music: yes
          plugin_music_provider: youtube
          plugin_music_token: ${{ secrets.YOUTUBE_MUSIC_TOKEN }}
          plugin_music_mode: recent
          plugin_music_limit: 2
